link(rel="import", href="../bower_components/polymer/polymer.html")

polymer-element(name="fav-color")
  template
    | This is <b>{{owner}}</b>'s fav-color element. {{owner}} likes the color 
    span(style="color: {{color}}") {{color}}.
  
  script
    :coffee
      Polymer
        owner: 'Daniel'
        color: 'red'
