link(rel="import", href="../bower_components/polymer/polymer.html")
link(rel="import", href="../bower_components/iron-input/iron-input.html")
  
dom-module(id="age-slider")
  template
    | This is <b>{{owner}}</b>'s age-slider.
    | <b>{{name}}</b> lets me borrow it.
    | He likes the color 
    span(style="color: {{color}}") {{color}}. 
    | I am <b>{{age}}</b> years old.
    p
      label(for="ageInput", type="range", value="{{age}}")
      input#ageInput(is="iron-input", bind-value="{{age}}", type="range")
      label(for="nameInput") Name:
      input#nameInput(is="iron-input", bind-value="{{name}}", placeholder="Enter name...")
        
  script
    :babel
      Polymer({
        is: 'age-slider',
        properties: {
          age: {
            type: Number,
            value: 25
          },
          name: {
            type: String,
            value: 'Daniel'
          },
          color: {
            type: String,
            value: 'red'
          },
          owner: {
            type: String,
            value: 'Eric'
          }
        },
        nameChanged: () => {
          if (this.name) {
            this.name = this.name[0].toUpperCase() + this.name.slice(1);
          }
        }
      })
