link(rel="import", href="../bower_components/polymer/polymer.html")
  
dom-module(id="editable-color-picker", attributes="owner color")
  template
    p.
      This is <strong>{{owner}}</strong>'s editable-color-picker. 
      He likes the color <b style="color: {{color}}">{{color}}<b>.
    button(on-tap="setFocus") Set focus to text input
    input#nameInput(is="iron-input", bind-value="{{owner}}", placeholder="Your name here...")
  
  script
    :babel
      Polymer({
        is: 'editable-color-picker',
        properties: {
          color: {
            type: String,
            value: 'red'
          },
          owner: {
            type: String,
            value: 'Daniel'
          }
        },
        setFocus: function () {
          this.$.nameInput.focus();
        }
      })
