link(rel="import", href="../bower_components/polymer/polymer.html")

dom-module(id="fav-color")
  template
    | This is <b>{{owner}}</b>'s fav-color element. {{owner}} likes the color 
    span(style="color: {{color}}") {{color}}.
  
  script
    :babel
      Polymer({
        is: 'fav-color',
        properties: {
          owner: {
            type: String,
            value: 'Daniel'
          },
          color: {
            types: String,
            value: 'red'
          }
        }
      })
