link(rel="import", href="../bower_components/polymer/polymer.html")

dom-module(id="name-tag")
  template
    :markdown
      This is **{{owner}}**'s name-tag element.
    
  script
    :babel
      Polymer({
        is: 'name-tag',
        properties: {
          owner: {
            type: String,
            value: 'Daniel'
          }
        }
      })
