link(rel="import", href="../bower_components/polymer/polymer.html")
  
dom-module(id="proto-element")
  template
    span
      :markdown
        I'm **proto-element**. Check out my prototype.

  script
    :babel
      Polymer({
        is: 'proto-element',
        ready: () => {
          console.log('proto-element: ready');
        }
      })
          
